# Python
backend/.venv/
__pycache__/
*.pyc
*.pyo

# Env
.env
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store

# Editors
.vscode/
.idea/
backend/certs/
backend/database.db
*.log
